 /*.arrow{ 
    background-image: url("/assets/arrow.svg");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: 95% center;
   background-position: -webkit-calc(100% -1rem) center;
    background-position: calc(100% - 2rem) center; 
   }*/