/*整个项目都用这个less文件*/
@import "./style/normalize.css"; 
 @import "./style/icon/iconfont.css";//引入图标字体文件 
 @import "./style/icon/bootstrap-icon.css";//引入图标字体文件 
@import "./style/var"; 
@import "./style/common"; 
@import "./style/cm.css"; 
// @import "index";  
// @import "d2.1";  