 //变量
 $size0=1.2rem;
 $size1=1rem;
 $size2=0.7rem;
 $size3=0.5rem;
  $pr=20rem;//效果图像素除以这个
 $color1=#2e93c5;
 $fontcolor=#666666;
 $bordercolor=#ebebeb; 
$themeColor=#58bace;
//$themeColor=#58bace;
 $dpr=3;
$defaultFont="Microsoft Yahei";
 $alertColor=#cd2f2f;
 //字体 边距大小
 $fs0=$size0;
 $fs1=$size1;
 $fs2=$size2;
 $fs3=$size3;

 $mg0=$size0; 
 $mg1=$size1;
 $mg2=$size2;
 $mg3=$size3;

 $pd0=$size0;
$pd1=$size1;
 $pd2=$size2;
 $pd3=$size3;  


//  .arrow{ 
//     background-image: url("../assets/arrow.svg");
//     background-size: 10px 20px;
//     background-repeat: no-repeat;
//     background-position: 95% center;
//    background-position: -webkit-calc(100% -1rem) center;
//     background-position: calc(100% - 2rem) center; 
//    }
