 //变量
 $size0=1.2rem;
 $size1=1rem;
 $size2=0.7rem;
 $size3=0.5rem;
 $normalSize=1.4rem;
  $pr=20rem;//效果图像素除以这个
  $pr3=30rem;
 $color1=#2e93c5;
 $fontcolor=#666666;
 $bordercolor=#ebebeb; 
$themeColor=#58bace;
//$themeColor=#58bace;
 $dpr=3;
$defaultFont="Microsoft Yahei";
 $alertColor=#cd2f2f;
 //字体 边距大小
 $fs0=$size0;
 $fs1=$size1;
 $fs2=$size2;
 $fs3=$size3;

 $mg0=$size0; 
 $mg1=$size1;
 $mg2=$size2;
 $mg3=$size3;

 $pd0=$size0;
$pd1=$size1;
 $pd2=$size2;
 $pd3=$size3;  


//公共的点击变底色的样式
 .clickable{
     &:active{
         background-color:#ddd;
      //   transition: all 0.5s ease;
     }
 }